@import "../../breakpoints.scss";

.header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 90px;
  position: sticky;
  top: 0;

  button {
    flex: 0;
    border-radius: 5px;
  }
}

.Hamburger {
  @include md {
    display: none;
  }
}

.closeMemu {
  display: flex;

  @include md {
    display: none;
  }
}

.mobile__nav {
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #00519e;
  z-index: 3;
  padding-top: 50px;

  @include lg {
    display: none;
  }
}

.landing {
  &Header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #00519e;

    @include md {
      padding: 0 70px;
    }

    @include xl {
      justify-content: space-evenly;
      padding: 0 20%;
    }

    &.rev {
      background-color: #fff;
    }

    &Left {
      align-items: center;
      width: 100%;

      &Logo {
        height: 60px;
      }

      &Links {
        display: flex;
        margin: 0 auto;
        color: #ffffff;
        align-items: center;
        margin-right: 20px;
        display: none;

        &.links {
          display: flex;
          flex-direction: column;
          margin: 0;
          text-align: center;

          @include md {
            flex-direction: row;
            margin-right: 10px;
          }
        }

        &.mobile__nav {
          display: flex;
        }

        @include md {
          display: flex;
          &.mobile__nav {
            display: none;
          }
        }

        @include sm {
          flex-direction: column;
          margin: 0;
          text-align: center;
        }

        &Item {
          font-weight: 500;
          font-size: 15px;
          line-height: 19px;
          width: 80px;
          cursor: pointer;
          color: #ffffff;
          margin-bottom: 15px;

          @include md {
            margin-bottom: 0;
          }

          &.active {
            color: #0066f5;
          }

          &.rev {
            color: #0d0d0b;
            &.active {
              color: #0066f5;
            }
          }
        }
      }
    }

    button {
      flex: 0;
      border-radius: 5px;
      height: 43px;
    }

    .login {
      background-color: transparent;
      margin-right: 12px;
      border: 1px solid;
      margin-bottom: 15px;

      @include md {
        margin-bottom: 0;
      }

      &.rev {
        background-color: #004578;
      }
    }

    .signup {
      background-color: #fff;
      margin-right: 12px;
      border: 1px solid;
      color: #004578;
    }
  }
}

.auth {
  display: flex;
  padding: 20px 50px;
  align-items: flex-start;
  margin-top: 60px;
  justify-content: space-around;

  @include sm {
    padding: 20px 20px;
  }

  @include xl {
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 60px;
  }

  &__left {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;

    @include sm {
      display: none;
    }

    @include md {
      display: block;
      width: clamp(200px, 50%, 400px);
      margin-right: 20px;
    }

    @include lg {
      width: 50%;
    }

    &__image {
      height: auto;
      margin-bottom: 40px;
      margin-right: 20px;
      width: 100%;
    }

    font-size: 24px;
    font-weight: 500;
    color: rgb(99, 97, 97);
  }

  &__right {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    @include sm {
      width: 100%;
    }

    @include md {
      width: clamp(300px, 50%, 600px);
    }

    @include lg {
      width: 50%;
    }

    &__content {
      width: 500px;
    }
  }
}
